div.leftFigureList {
  float: left;
  width: 15%;
  height: 800px;
  overflow: scroll;
  border: 2px solid black;
}

div.figureStatsLeft {
  width: 95%;
  margin: auto;
  height: 10%;
  border: 2px solid black;
  position: relative;
}
